<form [formGroup]="compForm
" class="">
  <!-- COMPANY NAME -->
  <div class="input-group-text m-4 py-1 my-1 mr-1 pr-1 pl-1">
    <span class="input-group-addon"><i class="fa fa-user p-2"></i></span>
    <input maxlength="255"  class="form-control" formControlName="name" placeholder="Company Name" type="text">
  </div>
  <span *ngIf="compForm
  .controls['name'].invalid && compForm
  .controls['name'].touched"
        class="pb-1 pt-0 d-flex justify-content-center">Company Name Required </span>


  <!-- EMAIL -->
  <div class="input-group-text m-4 py-1 my-1 mr-1 pr-1 pl-1">
    <span class="input-group-addon"><i class="fas fa-envelope p-2"></i></span>
    <input maxlength="255"  class="form-control" formControlName="email" placeholder="E-mail" type="email">
  </div>
  <span *ngIf="compForm
  .controls['email'].invalid && compForm
  .controls['email'].touched"
        class="pb-1 pt-0 d-flex justify-content-center">Valid E-mail Required </span>

  <!-- PASSWORD -->
  <div class="input-group-text m-4 py-1 my-1 mr-1 pr-1 pl-1">
    <span class="input-group-addon"><i class="fa fa-key fa-fw p-2 pr-4"></i></span>
    <input maxlength="255"  class="form-control" formControlName="password" placeholder="Password" type="password">
  </div>
  <span *ngIf="compForm
  .controls['password'].invalid && compForm
  .controls['password'].touched"
        class="pb-1 pt-0 d-flex justify-content-center">Password Required </span>
</form>

<div *ngIf="compForm
.valid && !this.data.add" class="btn-group btn-group d-flex justify-content-center mb-2">
  <button (click)="updateCompany()" class="btn btn-primary waves-light" type="button">Update</button>
  <button (click)="deleteCompany()" class="btn btn-danger waves-light" type="button">Delete</button>
</div>
<div *ngIf="compForm.valid  && this.data.add" class="btn-group btn-group d-flex justify-content-center mb-2">
  <button (click)="addCompany()" class="btn btn-primary waves-light" type="button">Add</button>
</div>
