<div style="z-index: 9001;">

  <mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark blue-gradient" [containerInside]="false">

    <mdb-navbar-brand mdbWavesEffect matTooltip="Go to your Home Page!" (click)="this.glob.navigateClientHome()"
                       style="color: white;" class="ml-4">
                      <a class="navbar-brand">Groupon v2</a></mdb-navbar-brand>

    <links *ngIf="this.glob.isLogged()" class="mr-5">
      <ul class="navbar-nav ml-auto">

<!--        <li *ngIf="glob.getClientType() == 'Administrator'" class="nav-item dropdown" dropdown>-->
<!--          <a class="nav-link dropdown-toggle waves-light" dropdownToggle mdbWavesEffect type="button">-->
<!--            <mdb-icon fas icon="car-crash"></mdb-icon>-->
<!--            Admin Functions <span class="caret"></span>-->
<!--          </a>-->

<!--          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">-->
<!--            <a class="dropdown-item waves-light" href="adminControlPanel" mdbWavesEffect>Admin controls</a>-->
<!--          </div>-->
<!--        </li>-->

<!--        <li *ngIf="glob.getClientType() == 'Company' ">-->
<!--          <span class="nav-item waves-light">-->
<!--            <a (click)="this.glob.navigateClientHome()" class="waves-light nav-link text-white" mdbWavesEffect>-->
<!--              <i aria-hidden="true" class="fa fa-building"></i>-->
<!--              Company controls-->
<!--            </a>-->
<!--          </span>-->
<!--        </li>-->

        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle waves-light" dropdownToggle mdbWavesEffect type="button">
            <mdb-icon fas icon="user"></mdb-icon>
            Profile<span class="caret"></span>
          </a>

          <a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <span (click)="custDetails()"
                    *ngIf="glob.getClientType() != 'Administrator' && glob.getClientType() == 'Customer'" class="dropdown-item waves-light" mdbWavesEffect>My account</span>

              <span (click)="compDetails()"
                    *ngIf="glob.getClientType() != 'Administrator' && glob.getClientType() == 'Company'" class="dropdown-item waves-light" mdbWavesEffect>My account</span>

              <span (click)="logOut()" *ngIf="this.glob.isLogged()" class="dropdown-item waves-light" mdbWavesEffect>Log
                out</span>
              <span *ngIf="!this.glob.isLogged()" class="dropdown-item waves-light" mdbWavesEffect>Log in</span>
            </div>
          </a>

        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>
