<!--style="position:relative; height: 100%"-->
<div>
  <app-particles></app-particles>
  <!--  SIDE NAV  -->
  <p class="my-3 mx-2" >
    <button (click)="sidenav.toggle()" mat-raised-button style="background: deepskyblue">Show Functions</button>
  </p>
  <mat-sidenav-container class="example-container rounded" style="margin-top: 90px">
    <mat-sidenav #sidenav [(opened)]="opened" class="light-blue rounded" mode="side">
      <button (click)="getAllCoupons()" class="px-3 my-3 " mat-raised-button style="background: deepskyblue;">Get all
        coupons
      </button>
      <button class="px-3 my-3 " (click)="couponAdd()" mat-raised-button style="background: deepskyblue">Add Coupon</button>
    </mat-sidenav>
  </mat-sidenav-container>
  <!--  SIDE NAV  -->

  <!-- TABLE  -->
  <div style="position: absolute; top: 25vh; left: 25vh;">

    <label>
      <input maxlength="255"  #search id="search" (keyup)="updateFilter($event)" *ngIf="this.rows != null" class="animated rollIn mySearch py-1"
             placeholder="Type to search"
             style="position: absolute; top: -15px"
             type="text"/>
    </label>
    <div *ngIf="this.rows != null && this.selectedRow.length > 0" class="animated fadeIn"
         style="position: absolute;top: -7vh; left: 15vw">
      <button (click)="couponPopup()" class="btn-light" mdbBtn mdbWavesEffect
              type="button">Update/Edit/delete
      </button>
    </div>

      <ngx-datatable #table *ngIf="this.rows != null" [columnMode]="ColumnMode.flex"
                     [footerHeight]="50" [headerHeight]="50" [limit]="10" [rows]="rows" [selected]="selectedRow"
                     [selectionType]="SelectionType.single" class="myNgxTable animated rollIn bootstrap"
                     rowHeight="auto">
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="couponId">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="amount">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="price">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="title">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="image">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" maxWidth="200" minWidth="100" name="description">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="startDate">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="endDate">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3" minWidth="100" name="category">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <!--  TABLE  -->

</div>
