/* You can add global styles to this file, and also import other style files */

body {
  /* Hide vertical scrollbar */
  overflow-y: hidden;
  /* Hide horizontal scrollbar */
  overflow-x: hidden;
}

.blueGradient {
  background: #5cc2e8;
  background: -moz-linear-gradient(-45deg, #5cc2e8 0%, #14a2c9 50%, #5dc7ea 100%);
  background: -webkit-linear-gradient(-45deg, #5cc2e8 0%, #14a2c9 50%, #5dc7ea 100%);
  background: linear-gradient(135deg, #5cc2e8 0%, #14a2c9 50%, #5dc7ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cc2e8', endColorstr='#5dc7ea', GradientType=1);
}
.blueGradient2{
  background: #207ce5;
  background: -moz-linear-gradient(left, #207ce5 13%, #2d85e2 25%, #4389cc 50%, #2d85e2 75%, #207ce5 87%);
  background: -webkit-linear-gradient(left, #207ce5 13%,#2d85e2 25%,#4389cc 50%,#2d85e2 75%,#207ce5 87%);
  background: linear-gradient(to right, #207ce5 13%,#2d85e2 25%,#4389cc 50%,#2d85e2 75%,#207ce5 87%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#207ce5',GradientType=1 );
}

.myNgxTable {
  /* soft box shadow */
  -webkit-box-shadow: -6px 0px 39px 4px rgba(61, 61, 61, 0.75);
  -moz-box-shadow: -6px 0px 39px 4px rgba(61, 61, 61, 0.75);
  box-shadow: -6px 0px 39px 4px rgba(61, 61, 61, 0.75);
  /* round edges */
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  position: absolute;
  margin-bottom: 50%;
  background: #e0e0e0;
}
.overlay {
  padding-left: 43%;
  padding-right: 43%;
  /* margin-left: 20%; */
  /* margin-right: 40%; */
  position: absolute;
  z-index: 3;
  font-size: 20px;
}
.myTable {
  position: absolute;
  left: 29%;
  top: 20%;
}
.myTableBtn {
  position: absolute;
  padding-top: 7px;
  left: 32%;
  top: 0%;
}
.resetSearch{
  position: absolute;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  left: 5%;
  top: -3%;
  font-size: small;
}
/* https://grid.layoutit.com/ */
.grid-container {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 1px 5%;
  grid-template-areas:
    ". heading heading heading ."
    ". heading heading heading ."
    "btn1 table table table table"
    "btn2 table table table table"
    "btn3 table table table table"
    "btn4 table table table table"
    "btn5 table table table table"
    "btn6 . . . ." "btn7 . . . ."
    "btn8 . . . ." ". . . . ."
    ". . . . ." ". . . . ."
    ". . . . ." ". . . . .";
}

.table {
  grid-area: table;
}

.heading {
  grid-area: heading;
  text-align: center;
}

.btn1 {
  grid-area: btn1;
}

.btn2 {
  grid-area: btn2;
}

.btn3 {
  grid-area: btn3;
}

.btn4 {
  grid-area: btn4;
}

.btn5 {
  grid-area: btn5;
}

.btn6 {
  grid-area: btn6;
}

.btn7 {
  grid-area: btn7;
}

.btn8 {
  grid-area: btn8;
}
