<div class="">
  <button (click)="closeDialog()" class="close fa fa-window-close"></button>
  <form [formGroup]="loginForm" class="text-center border border-light p-5">
    <p class="h4 mb-4">Sign in</p>
    <input maxlength="255"  class="form-control mb-4" formControlName="email" placeholder="E-mail" type="email">
    <input maxlength="255"  class="form-control mb-4" formControlName="password" placeholder="Password" type="password">
    <div class="dropdown" mdbDropdown>
      <button *ngIf="!clientChosen" class="dropdown-toggle waves-light " color="primary" mdbBtn mdbDropdownToggle
              mdbWavesEffect type="button">
        Choose a client type
      </button>
      <button *ngIf="clientChosen" class="dropdown-toggle waves-light" color="primary" mdbBtn mdbDropdownToggle
              mdbWavesEffect type="button">
        {{this.clientType}} </button>

      <div class="dropdown-menu dropdown-primary">
        <button (click)="setClientType('Administrator')" class="dropdown-item">Administrator</button>
        <button (click)="setClientType('Company')" class="dropdown-item">Company</button>
        <button (click)="setClientType('Customer')" class="dropdown-item">Customer</button>
      </div>
    </div>

    <div class="justify-content-around">
      <div>
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <br>
        <a href="#">Forgot password?</a>
      </div>
    </div>
    <button (click)="login()" *ngIf="loginForm.valid && clientChosen && success == null" block="true"
            class="my-4 animated fadeIn faster" color="info" mdbBtn type="submit">Sign in
    </button>
    <span>
      <span>
        <i *ngIf="success == true" aria-hidden="true" class="font50px fa fa-check text-success animated fadeIn"></i>
        <i *ngIf="success == false" aria-hidden="true"
           class="font50px fa fa-window-close text-danger animated fadeIn"></i>
        <p *ngIf="success == false">{{error}}</p>
      </span>
    </span>
    <p>Not a member?
      <a href="">Contact Administrator</a>
    </p>
    <p>or sign in with (unimplemented...):</p>
    <a class="light-blue-text mx-2" type="button">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a class="light-blue-text mx-2" type="button">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a class="light-blue-text mx-2" type="button">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a class="light-blue-text mx-2" type="button">
      <mdb-icon fab icon="github"></mdb-icon>
    </a>
  </form>
</div>
